<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scribble!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    I love this: <a href="https://twitter.com/gabeElbling/status/1850220333631943068">https://twitter.com/gabeElbling/status/1850220333631943068</a> 
    <br/>
    This is a thing to gather chars to train something to feed into something like that. 
    <br/>
    This project does ZERO interesting - this is just a frontend to gather data to train on to do something interesting in RNN.
    <br/>
    It will save drawing images into the 'images' directory. If there is a name collision it will overwrite the original .png


    <h1>Draw a something! And label it!</h1>
    <canvas id="drawingCanvas" width="256" height="256"></canvas>
    <button id="saveButton">Save Drawing</button>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
